@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container align-content-center">
    <div class="card text-secondary">
        <img class="card-img" src="~/img/greenGitBanner.jpg" alt="Card image" style="opacity:0.5">
        <div class="card-img-overlay">
            <h1 class="card-title"><p class="text-center" style="color:black;">Our Team</p></h1>
        </div>
    </div>
    <div class="row">
        <div class="card mb-lg-3" style="width: 22rem; border:none; margin: 50px;">
            <img class="card-img-top" src="~/img/Diego.jpg" alt="Card image cap" style="border-radius:50%; width: 300px; height: 300px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Diego Vanegas</h5>
                <p class="card-text">Senior Software Engineering Student</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Contact Number: 435-314-9378</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/devanegas" class="card-link">Diego's Github</a>
            </div>
        </div>

        <!--Alex-->
        <div class="card mb-lg-3" style="width: 22rem; border:none; margin: 50px;">
            <img class="card-img-top" src="~/img/alex.jpg" alt="Card image cap" style="border-radius:50%; width: 300px; height: 300px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Alex Mickelson</h5>
                <p class="card-text">Senior Software Engineering Student</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Contact Number: xxx-xxx-xxxx</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/alexmickelson" class="card-link">Alex's Github</a>
            </div>
        </div>

        <div class="card mb-lg-3" style="width: 22rem; border:none; margin: 50px;">
            <img class="card-img-top" src="~/img/mike.jpg" alt="Card image cap" style="border-radius:50%; width: 300px; height: 300px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">Michael Vance</h5>
                <p class="card-text">Senior Software Engineering Student</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Contact Number: xxx-xxx-xxxx</li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/mexvance" class="card-link">Mike's Github</a>
            </div>
        </div>
    </div>
</div>