@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="card text-secondary">
        <img class="card-img" src="~/img/januaryFlag.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title"><p class="text-center">January</p></h2>
        </div>
    </div>
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/ubuntuFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Ubuntu: </span>Tuesday, Jan 15th - Alex Mickelson </h5>
                <p class="card-text">Come and learn about one of the most relevant operating systems of the modern era. In this meeting you will learn how it everything got started, and how easily it is for you to dive into the linux world.</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/testingFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Unit Testing: </span>Tuesday, Jan 22nd - Michael Vance</h5>
                <p class="card-text">Undoubtedly one of the most valuable skills a programmer should have. Michael will introduce the concept of unit testing and how it can help your debugging a lot more efficient.</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/gitFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Version Control: Git and GitHub </span>Tuesday, Jan 29th - Leedan Johnson</h5>
                <p class="card-text">Version control is an integral part of large scale software development. This presentation will include a basic overview of version control concepts, and hands-on experience with git, and GitHub.</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
    </div>
    <br>
    <div class="card text-secondary">
        <img class="card-img" src="~/img/januaryFlag.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title"><p class="text-center">February</p></h2>
        </div>
    </div>

    <!--START OF NEW ROW-->
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/vmFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Virtual Machines: </span>Tuesday, Feb 5th - Spencer Stewart </h5>
                <p class="card-text">A virtual machine is a software computer that, like a physical computer, runs an operating system and applications. Come and learn about how they work andhow they revolutionized the world of computing</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <!--<div class="card mb-3">
                <a href = "https://1drv.ms/xs/s!AoskjLcqpmR8idg6a1gnNAchnM5O7w?wdFormId=%7B4977F695%2D1D37%2D458F%2DB9C6%2D1B54F3FBFC57%7D" style="text-decoration:none">
            <img class="card-img-top" src="~/img/travelFlag.jpg" alt="Card image cap">
            <div class="card-body" style="color: black">
                <h5 class="card-title" ><span class = "subtitle">Software CraftmanShip Meeting: </span>Wednesday, Feb 6th</h5>
                <p class="card-text">Sign up for a ride to this month's Software Craftsmanship meeting</p>
                    <p> > To Sign Up, <span class="subtitle">CLICK HERE</span></p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>

            </div>
        </a>
        </div>-->

        <div class="card mb-3">
            <img class="card-img-top" src="~/img/securityFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Server/Backend Security: </span>Tuesday, Feb 12th - Kyler Daybell</h5>
                <p class="card-text">Databases often contain extremely sensitive information that must be protected from security vulnerabilities and exploits. Come and learn how to protect your information in the connected world of the internet. </p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/toolFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Building Tools: </span>Tuesday, Feb 26th Leedan Johnson</h5>
                <p class="card-text">Build tools are programs that automate the creation of executable applications from source code</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
    </div>
    <br>
    <div class="card text-secondary">
        <img class="card-img" src="~/img/januaryFlag.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title"><p class="text-center">March</p></h2>
        </div>
    </div>
    <!--START OF NEW ROW-->
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/hackingFlag.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Hacking: </span>Tuesday, March 5th, Ammon Riley </h5>
                <p class="card-text">In our era of “Internet everything,” it is safe to assume that all services are going to be the target of malicious users. It’s not a matter of if, it’s a matter of when. Come and learn how hacking has shaped the tech industry in terms of security.</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <!--<div class="card mb-3">
        <a href = "https://1drv.ms/xs/s!AoskjLcqpmR8idg6a1gnNAchnM5O7w?wdFormId=%7B4977F695%2D1D37%2D458F%2DB9C6%2D1B54F3FBFC57%7D" style="text-decoration:none">
        <img class="card-img-top" src="~/img/travelFlag.jpg" alt="Card image cap">
            <div class="card-body" style="color: black">
                <h5 class="card-title" ><span class = "subtitle">Software CraftmanShip Meeting: </span>Wednesday, March 6th</h5>
                <p class="card-text">Sign up for a ride to this month's Software Craftsmanship meeting</p>
                    <p> > To Sign Up, <span class="subtitle">CLICK HERE</span></p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>

            </div>
        </a>
         </div>-->
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/defaultFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Engineering Week Presentation </span> Tuesday, March 12th</h5>
                <p class="card-text">Details Coming Soon</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/neuralFlag.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">A Tiny Introduction to Neural Networks: </span>Tuesday, March 26th, Wednesday Woodbury </h5>
                <p class="card-text">In our era of “Internet everything,” it is safe to assume that all services are going to be the target of malicious users. It’s not a matter of if, it’s a matter of when. Come and learn how hacking has shaped the tech industry in terms of security.</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
    </div>
    <div class="card text-secondary">
        <img class="card-img" src="~/img/januaryFlag.jpg" alt="Card image">
        <div class="card-img-overlay">
            <h2 class="card-title"><p class="text-center">April</p></h2>
        </div>
    </div>
    <!--START OF NEW ROW-->
    <div class="row">
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/herokuFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">Heroku Presentation: </span> Tuesday, April 2nd , Warner Nielsen</h5>
                <p class="card-text">
                    Want to show your friends or potential employers your cool new web app you’re building? Come learn about deploying your
                    code to Heroku using the Heroku-CLI and get that shiny new web app up and running in a live environment.
                </p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/defaultFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">bootstrap 4 </span>Tuesday, April 9th, Alex Mickelson </h5>
                <p class="card-text">[TBD]</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <img class="card-img-top" src="~/img/defaultFlag.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><span class="subtitle">[TBD] </span>Tuesday, April 16th, [TBD] </h5>
                <p class="card-text">[TBD]</p>
                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
            </div>
        </div>
    </div>
</div>
@{
}
